In [25]:
a='C,B,A'
b=['F','G','H']
c=a.split(',')
d=c+b
d[0]='K'
e=d.pop(2)
print(e)
del d[1:3]
d.append('U')
print(d)

A
['K', 'G', 'H', 'U']

In [27]:
a=input('請輸入一個八位數字：')
print('第五個數字為',a[4])

請輸入一個八位數字：47983479
第五個數字為 3

In [32]:
a="My ID is B1202026"
b=a.split(' ')
print(len(b))
print(len(b[3]))

4
8

In [35]:
a="I'm a student"
b=a.split()
c=str(b[0])
print(c[2])

m