In [22]:
import copy
a=dict(姓名='賴宏偉',性別='男',作業分數=[95,100,90])
b=dict(學號='M1129020')
a.update(b)
c=copy.deepcopy(a)
a['作業分數'][1]=80
c['姓名']='許珈綺'
c['性別']='女'
c['學號']='M1229001'
d=a.pop('作業分數')
e=(d[0]+d[1]+d[2])/3
print(e)
print(a)
f=c.pop('作業分數')
g=(f[0]+f[1]+f[2])/3
print(g)
print(c)

88.33333333333333
{'姓名': '賴宏偉', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [23]:
a=[100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5]=[70,50]
a.remove(50)
print(a.pop(0)+a.pop(len(a)-1))

138

In [24]:
A=347//3
B=347%3
print(A)
print(B)
print(A**B)

115
2
13225